html {
    font-size:  62.5%;
}
.hidden{
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
body {
    max-width: 675px;
    width: 75%;
    margin: auto;
    line-height: 1.6;
    @media screen and (max-width: 560px) {
        width: 95%;
    }
}
h1 {
    @include v-rythm(4);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 440px) {
        line-height: line-height(3);
    }
}

header {
    nav {
        border-bottom: 1px solid black;
        ul {
            display: flex;
            
            justify-content: space-around;
            transition: 0.2s;
            @media screen and (max-width: 450px) {
                flex-direction: column;
            }
            a {
                @include v-rythm(3);
                text-decoration: none;
                color: black;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                transition: 0.1s;
                box-sizing: border-box;
                @media screen and (max-width: 450px) {
                    padding-right: 0.3em;
                }
            }
            a:hover {
                border-top: 4px solid black;
                @media screen and (max-width: 450px) {
                    border-top: 0;
                    border-right: 4px solid black;
                }
            }
        }
    }
}

[id="btn-nav"] {
    visibility: 0;
    @media screen and (max-width: 450px) {
        visibility: 1;
        border-bottom: 17px double black; 
        border-top: 6px solid black; 
        content:"";
        height: 5px; 
        width:30px;
    }
}

[id="btn-container"] {
    visibility: 0;
    @media screen and (max-width: 450px) {
        visibility: 1;
        padding: 4px 0;
    }
}

footer {
    box-sizing: border-box;
    border-top: 1px solid black;
   // padding: 1.6em 0;
    nav {
        li {
            @include v-rythm(3);
            &:first-child a::before {
                font-family: 'FontAwesome';
                content: "\f02d";
                margin-right: 0.5em;
            }
            &:nth-child(2) a::before {
                font-family: 'FontAwesome';
                content: "\f08e";
                margin-right: 0.5em;
            }
        }
        a {
            text-decoration: none;
            color: black;
            font-family: 'Roboto', sans-serif;
            transition: 0.1s;
            padding-right: 0.3em;
            &:hover {
                border-right: 4px solid black;
            }
        }
    } 
}