article.biographie {
    margin-top: 3.6em;
    img {
        float: left;
        height: 32.4em;
        padding-right: 1.6em;
        @media screen and (max-width: 450px) {
            float: none;
            display: block;
            margin: auto;
        }
    }
    p {
        font-size: type-scale(2);
        line-height: 1.6em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 1.6em;
    }
}