.exposition {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 3.6em;
    article {
        margin-top: 3.6em;
    }
    header {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #ddd;
        margin-bottom: 3.5em;
        @media screen and (max-width: 750px) {
            flex-direction: column;
            flex-wrap: wrap;
        }
        time {
            display: block;
            border-left: solid 1px #ddd;
            font-size: 3.375rem;
            line-height: 1.3em;
            min-width: 25%;
            text-align: center;
            padding-bottom: 18px;
            span {
                display: block;
            }
            @media screen and (max-width: 750px) {
                border: 0;
                background: black;
                color: white;
                width: 100%;
            }
        }
    }
    h3 {
        font-size: 3.375rem;
        line-height: 1.3em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 18px;
        @media screen and (max-width: 405px) {
            line-height: 1.422222222222222;
        }
    }
    section {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 750px) {
            flex-wrap: wrap;
        }
        img {
            height: 32.4em;
            margin-right: 1.8em;
            @media screen and (max-width: 750px) {
                margin: auto;
                margin-bottom: 3.6em;
            }
        }
        p {
            @include v-rythm(2);
            margin-bottom: 1.6em;
        }
        li {
            @include v-rythm(1);
            a {
                color: black;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:nth-child(1)::before {
                font-family: 'FontAwesome';
                content: "\f041";
                margin-right: 0.9em;
            }
            &:nth-child(2)::before {
                font-family: 'FontAwesome';
                content: "\f073";
                margin-right: 0.5em;
            }
            &:nth-child(3)::before {
                font-family: 'FontAwesome';
                content: "\f145";
                margin-right: 0.5em;
            }
            &:nth-child(4)::before {
                font-family: 'FontAwesome';
                content: "\f15c";
                margin-right: 0.5em;
            }
            &.success {
                a[id="linkToForm"] {
                    color: #429e00;
                }
                &:nth-child(4)::before {
                    color: #429e00;
                    font-family: 'FontAwesome';
                    content: "\f00c";
                    margin-right: 0.5em;
                }
            }
        }
    }
}