doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="css/screen.css")
        link(rel="icon", href="favicon.ico")
        title Bibliographie - Larry Burrows
    body
        header
            h1(aria-level=1) Larry Burrows
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation principale
                div#btn-container
                    div#btn-nav
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="galerie.html") Galerie
                    li
                        a(href="exposition.html") Exposition
        section.bibliographie
            h2(aria-level=2) Bibliographie
            ul
                li Larry Burrows, <cite>Larry Burrows: compassionate photographer</cite>, Time-Life Books, <time datetime="1972">1972</time>.
                li Larry Burrows, <cite>Vietnam</cite>, Alfred A. Knopf, <time datetime="2002">2002</time>.
                li <cite>LIFE Magazine</cite>, Vol. 58,N° 15, <time datetime="1965-04-16">16 avr. 1965</time>.
        footer
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation secondaire
                ul
                    li
                        a(href="#").active-right Bibliographie
                    li
                        a(href="liens.html") Liens
        script(src="js/script.js")
