doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="assets/css/screen.css")
        title Accueil - Larry Burrows
    body
        header
            h1 Larry Burrows
            nav
                h2(class="hidden") Navigation principale
                div#btn-container
                    div#btn-nav
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="#") Galerie
                    li
                        a(href="exposition.html") Exposition
        article.exposition
            h2.hidden Les expositions
            article
                header 
                    h3 Exposition au Musée de la Photographie de Bruxelles
                    time  17/04
                        span 26/05
                section
                    img(src="assets/img/catalogue.jpg")
                    div
                        p « <i>Larry Burrows: Viet-nam</i> » vous sera présenté dans son intégralité au Musée de la Photographie de Bruxelles du 17 avril au 26 Mai.
                        ul
                            li Rue du Cirque 10, 1000 Bruxelles
                            li 17 avril - 26 mai de 10h - 21h
                            li Entrée à 9€ 
        footer
            nav
                h2(class="hidden") Navigation secondaire
                ul
                    li
                        a(href="assets/bibliographie.html") Bibliographie
                    li
                        a(href="assets/liens.html") Liens
        script(src="https://use.fontawesome.com/88452dd059.js")
        script(src="assets/js/script.js")
