doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="assets/css/screen.css")
        link(rel="icon", href="assets/favicon.ico")
        title Expositions - Larry Burrows
    body
        header
            h1(aria-level=1) Larry Burrows
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation principale
                div#btn-container
                    div#btn-nav
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="galerie.html") Galerie
                    li
                        a(href="#") Exposition
        article.exposition
            h2.hidden(aria-hidden="true" aria-level=2) Les expositions
            article
                header 
                    h3 Exposition au Musée de la Photographie de Bruxelles
                    time  17/04
                        span 26/05
                section
                    h3.hidden(aria-hidden="true") Description de l'exposition
                    img(src="assets/img/catalogue.jpg", alt="Couverture du livre Larry Burrows: Viet-nam")
                    div
                        p « <cite>Larry Burrows: Viet-nam</cite> » vous sera présenté dans son intégralité au Musée de la Photographie de Bruxelles du <time datetime="2017-04-17">17 avril</time> au <time datetime="2017-05-26">26 mai</time>.
                        ul
                            li Rue du Cirque 10, 1000 Bruxelles
                            li <time datetime="2017-04-17">17 avril</time> - <time datetime="2017-05-26">26 mai</time> de <time 10:00+01:00>10h</time> - <time 21:00+01:00>21h</time>
                            li Entrée à 9€ 
                            li
                                a(href="contact.html" id="linkToModal") Obtenir le catalogue de l'exposition
        footer
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation secondaire
                ul
                    li
                        a(href="bibliographie.html") Bibliographie
                    li
                        a(href="liens.html") Liens
        script(src="assets/js/script.js")
