doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="assets/css/screen.css")
        link(rel="icon", href="assets/favicon.ico")
        title Galerie - Larry Burrows
    body
        header
            h1(aria-level=1) Larry Burrows
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation principale
                div#btn-container
                    div#btn-nav
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="#").active-top Galerie
                    li
                        a(href="exposition.html") Exposition
        article.galerie
            header
                h2.hidden(aria-hidden="true" aria-level=2) Quelques photographies de Larry Burrows
                nav
                    h3.hidden(aria-hidden="true" aria-level=3)
                    ul
                        li
                            a(href="galerie.html" id="gallery1").active-top 1962 - 1965
                        li
                            a(href="galerie2.html" id="gallery2") 1966 - 1970
            div
                ul(lang="en")
                    li
                        figure
                            a(href="assets/img/gallery1/galerie1_7-full.jpg", title="voir l'image dans sa résolution originale")
                                img(src="assets/img/gallery1/galerie1_7.jpg" alt="Lance Cpl. James C. Farley manning helicopter machine gun of Yankee Papa 13")
                            figcaption Crew chief Lance Cpl. James C. Farley manning helicopter machine gun of Yankee Papa 13
                    li   
                        figure
                            a(href="assets/img/gallery1/galerie1_8-full.jpg", title="voir l'image dans sa résolution originale")
                                img(src="assets/img/gallery1/galerie1_8.jpg" alt="Helicopter crew chief shouting to crew as wounded pilot lay dying, Vietnam")
                            figcaption Helicopter crew chief James C. Farley shouting to crew as wounded pilot Lt. James E. Magel and Billy Owens lay dying, Vietnam
                    li
                        figure
                            a(href="assets/img/gallery1/galerie1_9-full.jpg", title="voir l'image dans sa résolution originale")
                                img(src="assets/img/gallery1/galerie1_9.jpg" alt="James Farley checking on a wounded crewmate while pilot lies dying at his feet")
                            figcaption Helicopter crew chief James C. Farley (R) checking on a wounded crewmate while wounded pilot, Lt. James E. Magel, lies dying at his feet
                    li
                        figure
                            a(href="assets/img/gallery1/galerie1_10-full.jpg", title="voir l'image dans sa résolution originale")
                                img(src="assets/img/gallery1/galerie1_10.jpg" alt="Lance Cpl. James Farley putting on helmet aboard Yankee Papa 13")
                            figcaption Lance Cpl. James Farley, helicopter crew chief, putting on helmet aboard Yankee Papa 13
                    li
                        figure
                            a(href="assets/img/gallery1/galerie1_11-full.jpg", title="voir l'image dans sa résolution originale")
                                img(src="assets/img/gallery1/galerie1_11.jpg" alt="Wayne Holien (PFC - Marine copter gunner in Vietnam)")
                            figcaption Wayne Holien (PFC - Marine copter gunner in Vietnam)
        footer
            nav
                h2(class="hidden" aria-level=2) Navigation secondaire
                ul
                    li
                        a(href="bibliographie.html") Bibliographie
                    li
                        a(href="liens.html") Liens
        script(src="assets/js/script.js")
