- var gallery = [["img/gallery1/galerie1_1-full.jpg","img/gallery1/galerie1_1.jpg","img/gallery1/galerie1_1-510.jpg","Dropping of troops, Mekong Delta","Dropping of troops, Mekong Delta"],["img/gallery1/galerie1_2-full.jpg","img/gallery1/galerie1_2.jpg","img/gallery1/galerie1_2-510.jpg","Yankee Papa 13","Yankee Papa 13"],["img/gallery1/galerie1_3-full.jpg","img/gallery1/galerie1_3.jpg","img/gallery1/galerie1_3-510.jpg","Yankee Papa 13","Yankee Papa 13"],["img/gallery1/galerie1_4-full.jpg","img/gallery1/galerie1_4.jpg","img/gallery1/galerie1_4-510.jpg","Dennis Driscol at front door after Viet Cong Bombings","Dennis Driscol, Son of LT. Colonel Arthur Driscoll at front door after Viet Cong Bombings"],["img/gallery1/galerie1_5-full.jpg","img/gallery1/galerie1_5.jpg","img/gallery1/galerie1_5-510.jpg","Refugees fleeing from the India-China border war boarding a train","Refugees fleeing from the India-China border war boarding a train"],["img/gallery1/galerie1_6-full.jpg","img/gallery1/galerie1_6.jpg","img/gallery1/galerie1_6-510.jpg","American helicopter hovering above soldiers during Vietnam War","American helicopter H-21 hovering above soldiers in combat zone during Vietnam War"],["img/gallery1/galerie1_7-full.jpg","img/gallery1/galerie1_7.jpg","img/gallery1/galerie1_7-510.jpg","ames C. Farley manning helicopter machine gun of Yankee Papa 13","Crew chief Lance Cpl. James C. Farley manning helicopter machine gun of Yankee Papa 13"],["img/gallery1/galerie1_8-full.jpg","img/gallery1/galerie1_8.jpg","img/gallery1/galerie1_8-510.jpg","Helicopter crew chief shouting to crew as wounded pilot lay dying, Vietnam","Helicopter crew chief James C. Farley shouting to crew as wounded pilot Lt. James E. Magel and Billy Owens lay dying, Vietnam"],["img/gallery1/galerie1_9-full.jpg","img/gallery1/galerie1_9.jpg","img/gallery1/galerie1_9-510.jpg","Crew Chief checking on a crewmate while pilot lies dying at his feet","Helicopter crew chief James C. Farley (R) checking on a wounded crewmate while wounded pilot, Lt. James E. Magel, lies dying at his feet"],["img/gallery1/galerie1_10-full.jpg","img/gallery1/galerie1_10.jpg","img/gallery1/galerie1_10-510.jpg","Lance Cpl. James Farley putting on helmet aboard Yankee Papa 13","Lance Cpl. James Farley, helicopter crew chief, putting on helmet aboard Yankee Papa 13"],["img/gallery1/galerie1_11-full.jpg","img/gallery1/galerie1_11.jpg","img/gallery1/galerie1_11-510.jpg","Wayne Holien (PFC - Marine copter gunner in Vietnam)","Wayne Holien (PFC - Marine copter gunner in Vietnam)"]];

doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="css/screen.css")
        link(rel="icon", href="favicon.ico")
        title Galerie - Larry Burrows
    body
        header
            h1(aria-level=1) Larry Burrows
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation principale
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="#").active-top Galerie
                    li
                        a(href="exposition.html") Exposition
        article.galerie
            header
                h2.hidden(aria-hidden="true" aria-level=2) Quelques photographies de Larry Burrows
                nav
                    h3.hidden(aria-hidden="true" aria-level=3) Navigation entre les galeries
                    ul
                        li
                            a(href="galerie.html" id="gallery1").active-top 1962 - 1965
                        li
                            a(href="galerie2.html" id="gallery2") 1966 - 1970
            div
                ul(lang="en")
                    each val in gallery
                        li
                            figure(itemscope itemType="http://schema.org/ImageObject")
                                a(href="" + val[0] + "", title="voir l'image dans sa résolution originale")
                                    img(src="" + val[1] + "" srcset="" + val[2] + " 2x" alt="" + val[3] + "" itemprop="thumbnail")
                                figcaption(itemprop="caption") #{val[4]}
        footer
            nav
                h2(class="hidden" aria-level=2) Navigation secondaire
                ul
                    li
                        a(href="bibliographie.html") Bibliographie
                    li
                        a(href="liens.html") Liens
        script(src="js/script.js")
