- var gallery = [["img/gallery2/galerie2_1-full.jpg","img/gallery2/galerie2_1.jpg","img/gallery2/galerie2_1-510.jpg","First-aid station. Mutter Ridge, Nui Cay Tri","First-aid station. Mutter Ridge, Nui Cay Tri"],["img/gallery2/galerie2_2-full.jpg","img/gallery2/galerie2_2.jpg","img/gallery2/galerie2_2-510.jpg","Helicopter evacuation of the wounded, near hill 400","Helicopter evacuation of the wounded, near hill 400"],["img/gallery2/galerie2_3-full.jpg","img/gallery2/galerie2_3.jpg","img/gallery2/galerie2_3-510.jpg","a mortar-equipped marine wades through another of the rivers","Within feet of the DMZ and at constant risk of ambush, a mortar-equipped marine wades through another of the rivers and steams that combined with the hot, jungled and mountainous terrain to make maneuvering on this operation such tough going"],["img/gallery2/galerie2_4-full.jpg","img/gallery2/galerie2_4.jpg","img/gallery2/galerie2_4-510.jpg","At First-Aid Center During Operation Prairie","At First-Aid Center During Operation Prairie"],["img/gallery2/galerie2_5-full.jpg","img/gallery2/galerie2_5.jpg","img/gallery2/galerie2_5-510.jpg","Casualty of the ultimately successful assault on Hill 484","Casualty of the ultimately successful assault on Hill 484"],["img/gallery2/galerie2_6-full.jpg","img/gallery2/galerie2_6.jpg","img/gallery2/galerie2_6-510.jpg","F-102's along Vietnam coast","F-102's along Vietnam coast"],["img/gallery2/galerie2_7-full.jpg","img/gallery2/galerie2_7.jpg","img/gallery2/galerie2_7-510.jpg","First Aid Station, DMZ","First Aid Station, DMZ"],["img/gallery2/galerie2_8-full.jpg","img/gallery2/galerie2_8.jpg","img/gallery2/galerie2_8-510.jpg","Inspecting 122 MM artillery piece near Laos border","Inspecting 122 MM artillery piece near Laos border"],["img/gallery2/galerie2_9-full.jpg","img/gallery2/galerie2_9.jpg","img/gallery2/galerie2_9-510.jpg","Wounded GI near DMZ","Wounded GI near DMZ"],["img/gallery2/galerie2_10-full.jpg","img/gallery2/galerie2_10.jpg","img/gallery2/galerie2_10-510.jpg","An American soldier with a bandage head wound dazed","An American soldier with a bandage head wound dazed after participating in Operation Prairie"],["img/gallery2/galerie2_11-full.jpg","img/gallery2/galerie2_11.jpg","img/gallery2/galerie2_11-510.jpg","Marines making sweep below DMZ, as part of Operation Prairie","2nd Battalion, 5th Marines making sweep below DMZ, as part of Operation Prairie"],["img/gallery2/galerie2_12-full.jpg","img/gallery2/galerie2_12.jpg","img/gallery2/galerie2_12-510.jpg","Soldiers give the thumbs-up signal during the Operation Pegasus","US Army soldiers give the thumbs-up signal to helicopters overhead during the Operation Pegasus phase of the Battle of the Sanh, Vietnam"],["img/gallery2/galerie2_13-full.jpg","img/gallery2/galerie2_13.jpg","img/gallery2/galerie2_13-510.jpg","On Route 9 during Operation Pegasus, Vietnam","On Route 9 during Operation Pegasus, Vietnam"],["img/gallery2/galerie2_14-full.jpg","img/gallery2/galerie2_14.jpg","img/gallery2/galerie2_14-510.jpg","Ammunition airlift during the relief of Khe Sanh","Ammunition airlift during the relief of Khe Sanh"]];

doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="css/screen.css")
        link(rel="icon", href="favicon.ico")
        title Galerie - Larry Burrows
    body
        header
            h1(aria-level=1) Larry Burrows
            nav
                h2(class="hidden" aria-hidden="true" aria-level=2) Navigation principale
                ul
                    li
                        a(href="index.html") Accueil
                    li
                        a(href="#").active-top Galerie
                    li
                        a(href="exposition.html") Exposition
        article.galerie
            header
                h2.hidden(aria-hidden="true" aria-level=2) Quelques photographies de Larry Burrows
                nav
                    h3.hidden(aria-hidden="true" aria-level=3) Navigation entre les galeries
                    ul
                        li
                            a(href="galerie.html" id="gallery1") 1962 - 1965
                        li
                            a(href="galerie2.html" id="gallery2").active-top 1966 - 1970
            div
                ul(lang="en")
                    each val in gallery
                        li
                             figure(itemscope itemType="http://schema.org/ImageObject")
                                a(href="" + val[0] + "", title="voir l'image dans sa résolution originale")
                                    img(src="" + val[1] + "" srcset="" + val[2] + " 2x" alt="" + val[3] + "" itemprop="thumbnail")
                                figcaption(itemprop="caption") #{val[4]}
        footer
            nav
                h2(class="hidden" aria-level=2) Navigation secondaire
                ul
                    li
                        a(href="bibliographie.html") Bibliographie
                    li
                        a(href="liens.html") Liens
        script(src="js/script.js")
