doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="assets/css/screen.css")
        title Accueil - Larry Burrows
    body
        header
            h1 Larry Burrows
            nav
                h2(class="hidden") Navigation principale
                ul
                    li
                        a(href="#") Accueil
                    li
                        a(href="gallerie.html") Galerie
                    li
                        a(href="exposition.html") Exposition
        article
            h2(class="hidden") Biographie de Larry Burrows
            img(src="assets/img/larry-portrait.jpg" alt="Portrait de Larry Burrows")
            p Larry Burrows est né le 29 mai 1926, à Londres, en Angleterre. À 16 ans il quitta l’école et commença à travailler pour le bureau de Londres du magazine Life. Son rôle principal était le tirage des photographies. Parfois, il était accusé d’avoir fait fondre les négatifs D-Day de Robert Capa, mais John G. Morris, l’éditeur d’image de l’époque, accusait un autre technicien. Burrows devint un photographe. En 1962, à 36 ans, il voyagea au Vietnam pour faire des photos de la guerre. Son travail One Ride with Yankee Papa 13 fut publié dans le magazine Life le 16 avril 1965, et devint l’une de ses collections les plus célèbres.
            p Il photographia la guerre du Vietnam de 1962, jusqu’à sa mort tragique en 1971. Le 10 février 1971, son hélicoptère fut abattu au-dessus du Laos. Il était en train de voyager avec d’autres photojournalistes, Kent Potter, Keisaburo Shimamoto et Henri Huet. Tous moururent quand l’hélicoptère écrasa. Burrows avait 44 ans. Les photojournalistes tentèrent de couvrir la grande invasion blindée du Laos par les forces sud-vietnamiennes, dans une attaque contre le Pathet Lao et l’Armée populaire du Vietnam, qui fut appelée Opération Lam Son 719. Le livre de Burrows, Vietnam, fut publié après sa mort et reçut le Prix Nadar en 2002. Le Prix Nadar récompense un livre de photographies qui a été édité en France, chaque année.
            p Les restes de Burrows, Potter, Huet et Shimamoto, furent honorés le 3-4 avril 2008, et enterrés dans le Newseum, un musée de nouvelles et de journalisme, à Washington DC.
        footer
            nav
                h2(class="hidden") Navigation secondaire
                ul
                    li
                        a Bibliographie
                    li
                        a Liens
        script(src="https://use.fontawesome.com/88452dd059.js")
